CMakeCache.txt
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.ply
*.dll
[Cc][Mm]ake[Ff]iles*/
*.cmake
[Ii]pch*/
x64*/
VisualizerWidget.dir*/
